<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!<![endif]-->
<html lang="en" class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Expertise - STELLAR</title>
         <link rel="apple-touch-icon" sizes="57x57" href="{{=URL('static','favicon/apple-icon-57x57.png')}}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{=URL('static','favicon/apple-icon-60x60.png')}}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{=URL('static','favicon/apple-icon-72x72.png')}}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{=URL('static','favicon/apple-icon-76x76.png')}}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{=URL('static','favicon/apple-icon-114x114.png')}}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{=URL('static','favicon/apple-icon-120x120.png')}}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{=URL('static','favicon/apple-icon-144x144.png')}}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{=URL('static','favicon/apple-icon-152x152.png')}}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{=URL('static','favicon/apple-icon-180x180.png')}}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{=URL('static','favicon/android-icon-192x192.png')}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{=URL('static','favicon/favicon-32x32.png')}}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{=URL('static','favicon/favicon-96x96.png')}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{=URL('static','favicon/favicon-16x16.png')}}">
        <link rel="manifest" href="{{=URL('static','favicon/manifest.json')}}">
        <meta name="msapplication-TileColor" content="#d04451">
        <meta name="msapplication-TileImage" content="{{=URL('static','favicon/ms-icon-144x144.png')}}">
        <meta name="theme-color" content="#d04451">
        <script src="{{=URL('static','js/modernizr.custom.js')}}"></script>
		<link href="{{=URL('static','css/bootstrap.min.css')}}" rel="stylesheet" />
		<link href="{{=URL('static','css/animate.css')}}" rel="stylesheet" />
        <link href="{{=URL('static','css/font-awesome.css')}}" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans:400,700|Yanone+Kaffeesatz:400,700" rel="stylesheet" />
		<link href="{{=URL('static','css/styles.css')}}" rel="stylesheet" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body class="expertise">
		<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<!-- open/close -->
		<header>
			<section class="rumy">
				<div class="texture-overlay"></div>
				<div class="container">
					<div class="row nav-wrapper">
						<div class="col-md-6 col-sm-6 col-xs-6 text-left">
							<a href="{{=URL('default','index')}}"><img src="{{=URL('static','images/logo-white.png')}}" alt="Rumy Logo" class="rumy-logo"></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6 text-right navicon">
							<p>MENU</p><a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>
						</div>
					</div>
					<div class="row rumy-content">
						<div class="col-md-12">
							<h1 class="animated fadeInDown">IoT is Our Expertise</h1>
						</div>
					</div>
				</div>
			</section>
		</header>
        <div class="container expertise-table">
            <div class="row services">
                                <h2 id="openings">What We Do Everyday</h2>
                <span class="hr-long"><span></span></span>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="service">
                        <div class="icon-holder"> <i class="fa fa-cogs fa-3x"></i> </div>
                        <h4 class="heading">Hardware</h4>
                        <p class="description">We do in-house product planning, circuit design, pcb layout and manufacturing (3rd party)</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="service">
                        <div class="icon-holder"> <i class="fa fa-code fa-3x"></i> </div>
                        <h4 class="heading">Firmware</h4>
                        <p class="description">ARM<sup>®</sup> Cortex<sup>®</sup> Processors, AVR<sup>®</sup> and PIC<sup>®</sup> microcontrollers</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="service">
                        <div class="icon-holder"> <i class="fa fa-joomla fa-3x"></i> </div>
                        <h4 class="heading">Wireless Networks</h4>
                        <p class="description">Bluetooth Low Energy (BLE), 6LoWPAN and Wifi</p>
                        <p class="description"><a href="product.html">(read more)</a></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="service">
                        <div class="icon-holder"> <i class="fa fa-globe fa-3x"></i>  </div>
                        <h4 class="heading">Web</h4>
                        <p class="description">Web2py, Django, Python, PHP, HTML, CSS, Javascript and Ajax</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="service">
                        <div class="icon-holder"> <i class="fa fa-mobile fa-3x"></i> </div>
                        <h4 class="heading">Mobile</h4>
                        <p class="description">iPhone, Android and Windows</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="service">
                        <div class="icon-holder"> <i class="fa fa-buysellads fa-3x"></i> </div>
                        <h4 class="heading">CAD Design</h4>
                        <p class="description">Solidworks<sup>®</sup>, AutoCAD and ProE<sup>®</sup></p>
                    </div>
                </div>
            </div>
</div>
        
        <!--<section id="contact-now">         
            <div class="container footer-links">
                <div class="row">
                <div class="col-md-6 hidden-sm hidden-xs text-center"> <a href="{{=URL('default','contact')}}"><h2>Join the team</h2> <span>Introduce Yourself <i class="fa footer-links-icon fa-long-arrow-right" aria-hidden="true"></i> </span> </a></div>
                <div class="col-md-6 col-sm-12 text-center">
                    <div class="text-center"> <a href="{{=URL('default','contact')}}"><h2>Contact Us</h2> <span>Click Here <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span></a></div>
                    </div>
                </div>
            </div>
        </section>-->
        
        <footer id="footer">
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="logo-mark visible-xs">
                                <img src="{{=URL('static','images/logo-mobile.png')}}" class="footer-logo" />
                            </div>
                            <p>© 2016 Stellar <span>/</span><a href="mailto:admin@rumytechnologies.com">admin@rumytechnologies.com</a> <span>/</span>CDA Avenue, Chittagong, Bangladesh</p>
                            <ul class="list-unstyled">
                                <li><a href="https://www.facebook.com/RumyTechnologies" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> <span>Facebook</span></a></li>
                                <li></li>
                                <li><a href="https://twitter.com/RumyTech" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> <span>Twitter</span></a></li>
                                <li><a href="https://www.pinterest.com/RumyRemote/" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i> <span>Pinterest</span></a></li>
                                <li><a href="https://www.linkedin.com/company/rumy" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i> <span>LinkedIn</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
		<div class="overlay overlay-boxify">
			<nav>
				<ul>
					<li><a href="{{=URL('default','product')}}"><i class="fa fa-shopping-cart"></i>Products</a></li>
					<li><a href="{{=URL('default','expertise')}}"><i class="fa fa-asterisk"></i>Expertise</a></li>
				</ul>
				<ul>
                    <li><a href="{{=URL('default','about')}}"><i class="fa fa-info"></i>About</a></li>
				    <li><a href="{{=URL('default','contact')}}"><i class="fa fa-envelope"></i>Contact</a></li>
					<!--<li><a href="career.html"><i class="fa fa-suitcase"></i>Career</a></li>-->
				</ul>
			</nav>
		</div>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="{{=URL('static','js/jquery.min.js')}}"></script>
		<script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
		<script src="{{=URL('static','js/scripts.js')}}"></script>
	</body>
</html>
